:root {
	/* Colors */
	--night: hsl(250, 14%, 8%);
	--night-hsl: 250, 14%, 8%;
	--raisin-black: hsl(248, 10%, 15%);
	--yellow-darkish: hsl(42, 91%, 68%);
	--light-green: hsl(127, 100%, 82%);
	--guost-white: hsl(250, 18%, 93%);
	--guost-white-hsl: 250, 18%, 93%;

	/* Fonts */
	--ff-primary: 'JetBrains Mono', monospace;
	--fw-light: 300;
	--fw-regular: 400;
	--fw-semibold: 600;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin-inline: 1.3rem;
	min-height: 100vh;
	font-family: var(--ff-primary);
	font-size: .8rem;
	font-weight: var(--fw-regular);
	color: var(--guost-white);
	background-color: var(--night);

	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	margin-block-end: 1rem;
	color: hsla(var(--guost-white-hsl), .6);
	font-size: 1rem;
	text-align: center;
}

button {
	font-family: inherit;
}

form {
	max-width: 300px;

	display: grid;
	gap: 1rem;

	flex-grow: 1;
}

.input-field {
	padding: 1rem;
	background-color: var(--raisin-black);

	display: grid;
	grid-template-columns: 1fr auto;
	gap: .5rem;
}

.input-field input {
	font-size: 1rem;
	font-weight: var(--fw-semibold);
	line-height: 1;
	color: var(--guost-white);
	background-color: transparent;
	border: 0;
	outline: none;
}

#clipboard {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	
	display: grid;
	place-items: center;
}

#clipboard svg {
	width: 25px;
	stroke: var(--light-green);
}

.config-field {
	padding: 1rem;
	background-color: var(--raisin-black);
}

.strength {
	font-size: .7rem;
	font-weight: var(--fw-semibold);
	text-transform: uppercase;
	color: hsla(var(--guost-white-hsl), .6);
}

.length-label {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.length-count {
	font-size: 1.3rem;
	color: var(--light-green);
}

#length {
	margin-top: 1rem;
	width: 100%;
}

.checkbox {
	margin-block: 1rem;

	display: grid;
	gap: .5rem;
}

.strength {
	padding: 1rem;
	font-weight: var(--fw-semibold);
	background-color: hsla(var(--night-hsl), .6);

	display: flex;
	justify-content: space-between;
}

.bars {
	display: flex;
	justify-content: space-between;
	gap: .4rem;
}

.bar {
	outline: .1rem solid var(--guost-white);
	width: 4px;
}

.bar:nth-child(1) {
	outline: .1rem solid var(--yellow-darkish);
	background-color: var(--yellow-darkish);
}

#generate {
	padding-block: .8rem;
	font-size: .7rem;
	font-weight: var(--fw-semibold);
	color: var(--night);
	background-color: var(--light-green);
	text-transform: uppercase;
	letter-spacing: 1px;
	border: 0;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: .4rem;

	transition-property: background-color, color;
	transition-duration: 200ms;
}

#generate svg {
	width: 15px;
	stroke: var(--night);
	transition: transform 200ms;
}

#generate:focus,
#generate:hover {
	color: var(--light-green);
	background-color: unset;
	outline: 1px solid var(--light-green);
}

#generate:focus svg,
#generate:hover svg {
	stroke: var(--light-green);
	transform: translateX(5px);
}